[submodule "sst"]
	path = sst
	url = https://github.com/WireCell/wire-cell-sst.git
	branch = 0.5.x
[submodule "iface"]
	path = iface
	url = https://github.com/WireCell/wire-cell-iface.git
	branch = 0.5.x
[submodule "util"]
	path = util
	url = https://github.com/WireCell/wire-cell-util.git
	branch = 0.5.x
[submodule "docs"]
	path = docs
	url = https://github.com/WireCell/wire-cell-docs.git
	branch = 0.5.x
[submodule "apps"]
	path = apps
	url = https://github.com/WireCell/wire-cell-apps.git
	branch = 0.5.x
[submodule "wire-cell-tbb"]
	path = wire-cell-tbb
	url = https://github.com/WireCell/wire-cell-tbb.git
[submodule "python"]
	path = python
	url = https://github.com/WireCell/wire-cell-python.git
	branch = 0.5.x
[submodule "cfg"]
	path = cfg
	url = https://github.com/WireCell/wire-cell-cfg.git
	branch = 0.5.x
[submodule "sigproc"]
	path = sigproc
	url = https://github.com/WireCell/wire-cell-sigproc.git
	branch = 0.5.x
[submodule "waftools"]
	path = waftools
	url = https://github.com/WireCell/waf-tools.git
	branch = 0.5.x
